*.md whitespace=-blank-at-eol

*.pdf binary
*.doc binary
*.docx binary
*.ppt binary
*.pptx binary
*.xls binary
*.xlsx binary
*.zip binary
*.gz binary
*.tar binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.parquet binary
